/*.request-stats-block {*/
/*    display: grid;*/
/*    grid-template-columns: 100%;*/
/*    column-gap: 2em;*/
/*    margin-top: 30px;*/
/*    height: 130px;*/
/*    padding: 1.5em;*/
/*    box-sizing: border-box;*/

/*    border-left: 5px solid rgb(59, 196, 96);*/
/*}*/


.stats-block {
    /*border: 1px solid red;*/
    height: 100%;
    position: relative;
    border-left: 5px solid rgb(59, 196, 96);
    margin-top: 30px;
    background: #fff;
    box-sizing: border-box;

    font-family:'Arial', sans-serif;
    font-weight:400;
}

.row {
    height: 100%;
    box-sizing: border-box;
    padding: 1.5em 0 1.5em 0;

}


.left-block {
    /*box-sizing: border-box;*/
    /*padding: 1.5em;*/
    position: relative;
    /*border: 1px solid green;*/
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.right-block {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*height: 100%;*/
}

.btn-stats {
    height: 45px;
    width: 70%;
    margin-left: 25%;
    border-radius: 5px;
    border-color: gray;
    font-size: 18px;
    cursor: pointer;
}

.btn-top {
    background: #fff;
}

.btn-bottom {
    background: gray;
    color: white;
}

.stats-title {
    margin-right: 100px;
    font-size: 25px;
    font-weight: bold;
}

.stats-title-text{
    margin-left: 10px;
    color: rgb(126, 130, 127);
    font-size: 20px;
}

.stats-block-footer{
    height: 25px;
}

.stats-inform-text, .stats-title{
    margin: 0;
}

.stats-p{
    padding: 10px;
}

@media screen and (max-width: 1024px){
    .btn-stats{
        font-size: 12px;
        width: 100%;
        margin-left: 0;
    }

}